@using  IncrementalSociety.Web.Services
@using  IncrementalSociety.Model

<div>
	<div class="collapse @(Expanded ? "hide" : "show")">
		<img class="area-image" src="images\\@(Area.Type).png" onclick="@OnAreaClick" />
	</div>

	<div class="area-more-info collapse @(Expanded ? "show" : "hide")">
		<img class="area-image" src="images\\@(Area.Type).png" onclick="@OnAreaClick" />
		<p>@Area.Type</p>
		@for (int i = 0; i < GameService.RegionCapacity; ++i)
		{
			if (i < Area.Buildings.Length)
			{
				<AreaBuilding GameService=@GameService Building="@Area.Buildings[0]" />
			}
			else
			{
				<AreaBuilding GameService=@GameService/>
			}
		}
	</div>
</div>

@functions {
	[Parameter]
	Area Area { get; set; }

	[Parameter]
	GameService GameService { get; set; }

	bool Expanded;

	private void OnAreaClick ()
	{
		Expanded = !Expanded;
		StateHasChanged ();
	}
}
