@page "/"
@using  IncrementalSociety.Web.Services
@inject GameService GameService

    <div class="container-fluid">
        <div class="row">

            <div class="col-4">
                <div id="resources">
                    <h1>Resources</h1>

                    <ul id="resource-list">
                        @foreach (var resource in @GameService.Resources)
                        {
                            <li>
                                <img class="resource-image" src="@GameService.GetImageFilename(resource)" />
                                <p>@resource.Name: 1</p>
                            </li>
                        }
                    </ul>
                </div>
                <div id="actions">
                    @foreach (var action in @GameService.Actions)
                    {
                        <button type="button">@action.Name</button>
                    }
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>