@using System.Collections.Immutable
@using IncrementalSociety.Web.Services
@using IncrementalSociety.Utilities

@inject GameService GameService

<div class="research-item @GetBackgroundStyle(@ResearchName)" onclick="@(() => OnSelection ())">
	<div class="d-flex flex-wrap">
		<div class="research-title">@ResearchName</div>
		<MiniResourcesView AdditionalStyles="research-cost no-border"
						   Resources="@Resources" />
	</div>
	<div class="research-description">@Description</div>
</div>

@functions {

	[Parameter]
	string ResearchName { get; set; }

	[Parameter]
	string Description { get; set; }

	[Parameter]
	Resources Resources { get; set; }

	[Parameter]
	Action OnSelection { get; set; }

	bool CanResearch (string techName) => GameService.Engine.CanResearch (GameService.State, techName);
	string GetBackgroundStyle (string techName) => CanResearch (techName) ? "" : "disabled";

	protected override void OnInit ()
	{
		GameService.CurrentUIStateChanged += (o, e) => StateHasChanged ();
	}
}
