@using System.Collections.Immutable

@using IncrementalSociety.Json
@using IncrementalSociety.Web.Services
@using IncrementalSociety.Utilities

@inject GameService GameService
@inject StyleService StyleService

<h1>Resources</h1>

<ul id="resource-list">
	@foreach (var resource in Resources)
	{
		<li class="d-flex align-items-center resource-list-item">
			<img class="img-fluid resource-image" src="@StyleService.GetImageFilename(resource)" />
			@resource.Name: @(GetResourceCount (GameService.State.Resources, resource.Name))
			<div class="@StyleService.GetResourceDeltaClass(GetResourceCount (NextTickResources, resource.Name))">(@(GetResourceCount (NextTickResources, resource.Name)))</div>
		</li>
	}
</ul>

@functions {
	public IEnumerable<ResourceDeclaration> Resources => GameService.Loader.Resources.Resources;

	public ImmutableDictionary<string, double> NextTickResources;

	// Round to three places for display
	public double GetResourceCount (ImmutableDictionary<string, double> resources, string name) => Math.Round (resources.AmountOf (name), 3);

	protected override void OnInit ()
	{
		GameService.CurrentUIStateChanged += (o, e) =>
		{
			NextTickResources = GameService.GetNextTickResources ();
			StateHasChanged ();
		};

		NextTickResources = GameService.GetNextTickResources ();
	}
}
